<div class="row mb50 mt100">
  <div class="col-md-1"></div>
  <div class="col-md-4 profile text-right">
      <h4>{{user.login}}</h4>
      <img src="{{searchGithubService.user.avatar_url}}">
      <p class="bio">{{user.bio}}</p>
      <p class="stat">Date Joined: <strong>{{user.created_at|date}}</strong></p>
      <p class="stat">Last Update: <strong>{{user.updated_at|date}}</strong></p>
      <p class="stat">Number of Repos: <strong>{{user.public_repos}}</strong></p>
      <p class="stat"><i class="fa fa-github-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<a href="{{user.html_url}}" target="_blank">View Github Profile</a></p>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-5">
  <a class="btn btn-default btn-xs" (click)="goBack()" >Go Back</a>
  
  
  <!--<div>
     <app-navbar></app-navbar> 
    <div class="container">
      <div class="container search">
        <div class="card">
          <div class="card-body">
             <app-form-search></app-form-search> 
            <form class="md-form mr-auto mb-8">
  
              <input class="form-control mr-sm-2" type="text" placeholder="Enter user name" aria-label="Search"
                [(ngModel)]='userName' name='userName' #username='ngModel' (keyup)='findUser()'>
              <div class="btn-search">
                <button class="btn aqua-gradient btn-rounded btn-lg my-0 center" type="submit">Search</button>
  
              </div>
  
            </form>
  
          </div>
  
        </div>
  
      </div>
      -- End of search section 
  
      <div class="prof-img">
        <div class="coontainer">
          <div class="mb-3 text-center">
            <img src="{{profile.avatar_url}}" class="img-fluid z-depth-1 rounded-circle hoverable" alt="Responsive image">
            <h2>{{profile.name}}</h2>
  
            <div class="container">
              <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                data-target="#centralModalFluid">MORE</button>
              Central Modal Fluid 
              <div class="modal fade" id="centralModalFluid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  Content
                  <div class="modal-content">
                    -Header-
                    <div class="modal-header">
                      <h4 class="modal-title w-100" id="myModalLabel">{{profile.login}}</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <-Body--
                    <div class="modal-body">
                      <div class="tbl-content">
                        <table class="table table-striped table-responsive-md">
                          <tbody>
                            <tr>
                              <td>Public Repositories</td>
                              <td>{{profile.public_repos}} </td>
  
                            </tr>
                            <tr>
                              <td>Created at</td>
                              <td>{{profile.created_at | date}}</td>
  
                            </tr>
                            <tr>
                              <td>Followers</td>
                              <td>{{profile.followers}}</td>
  
                            </tr>
                            <tr>
                              <td>Following</td>
                              <td>{{profile.following}}</td>
                            </tr>
                          </tbody>
                        </table>
  
                      </div>
                      <-Footer--
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                    </.Content--
                  </div>
                </div>
                <!-Central Modal Fluid -
  
              </div>
            </div>
  
  
  
          </div>
  
        </div>
  
        <div class="container">
          <div class="heading" *ngIf='profile'>
            <h1>Repositories</h1>
  
  
  
          </div>
          <div class="row">
            <div class="col-md-6" *ngFor='let repo of repos'>
              <div class="card rainbow-card" style="max-width: 23rem;margin: 3rem auto;">
                <div class="card-body">
                  <h5 class="card-title">{{repo.name}}</h5>
                  <p class="card-text"><span>{{repo.description}}</span></p>
                  <div class="d-flex card-menu">
                     <a href="#!" class="btn btn-sm btn-flat">Skip for now</a> --
                    <a href="{{repo.html_url}}" class="btn btn-sm btn-primary">View on Github</a>
                  </div>
                </div>
              </div>
  
            </div>
  
  
          </div>
  
        </div>
  
  
  
      </div>
  
    </div-->
